/* General layout */

.mainScreen {
    margin: 60px;
    display: flex;
}
.boardTitle {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.cpuSide {
    width: 30%;
}

.userSide {
    width: 30%;
}

.controlPanelSide {
    width: 30%;
    border: 1px gray solid;
}

.instructionsBox{
    border: 1px gray solid;
    margin: 10px;
    padding: 10px;
}

.warningText{
    color: red;
}

/* Board layout */
.gameBoard {
    display: flex;  
    flex-wrap: wrap;
    margin: 40px;
}

.centerTile {
    width: 10%;
    aspect-ratio : 1 / 1;
    border: 1px gray solid;
}

.sideTile {
    width: 5%;
    border: gray solid;
    border-width: 0px 1px 1px 1px;
    text-align: center;
    font-weight: 500;
    background-color: lightgray;
}

.firstSideTile {
    width: 5%;
    border: 1px gray solid;
    text-align: center;
    font-weight: 500;
    background-color: lightgray;
}

.topTile {
    width: 10%;
    border: gray solid;
    border-width: 1px 1px 1px 0px;
    text-align: center;
    font-weight: 500;
    background-color: lightgray;
}

.firstTopTile {
    width: 10%;
    border: 1px gray solid;
    text-align: center;
    font-weight: 500;
    background-color: lightgray;
}

.cornerTile {
    width: 5%;
    aspect-ratio: 1 / 1;
}

/*Control panel*/

.boatsSelection {
    font-size: 12px;
    border-bottom: 1px gray solid;
    padding: 5px 0px 5px 0px;
}

.boatTitle {
    margin-left: 10px;
}

.boatDirectionSelection, .boatColumnSelection, .boatRowSelection {
    margin: 0px 10px 0px 5px;
}
.boatDirectionLabel, .boatColumnLabel, .boatRowLabel {
    margin: 0px 0px 0px 10px;
}

.weaponsControl {
    padding: 10px;
    border-bottom: 1px gray solid;
}

.gameStatus {
    padding: 10px;
}

/*Boat positioning*/

.ocuppiedTile {
    background-color: green;
}

/*Targeting and firing */

.targetedTile {
    border: 2px red solid;
}

.notTargetedTile {
    border: 1px gray solid;
}

.boatHit {
    background-color: red;
}

.waterHit {
    background-color: lightblue;
}
