.gameBoard {
    display: flex;  
    flex-wrap: wrap;
    width: 30%;
    margin: 40px;
}

.centerTile {
    width: 10%;
    aspect-ratio : 1 / 1;
    border: 1px gray solid;
}

.sideTile {
    width: 5%;
    border: gray solid;
    border-width: 0px 1px 1px 1px;
}

.firstSideTile {
    width: 5%;
    border: 1px gray solid;
}

.topTile {
    width: 10%;
    border: gray solid;
    border-width: 1px 1px 1px 0px;
}

.firstTopTile {
    width: 10%;
    border: 1px gray solid;
}

.cornerTile {
    width: 5%;
    aspect-ratio: 1 / 1;
}